h5py==3.9.0
matplotlib==3.7.2
numpy==1.25.1
opencv_python==4.9.0.80
pandas==2.0.3
scikit_learn==1.4.0
scikit_learn_extra==0.3.0
scipy==1.15.2
seaborn==0.13.2
scikit-image==0.24.0
statsmodels==0.14.4
tqdm==4.65.0